
@{
    ViewData["Title"] = "Index";
    var name = "Viren";
    var age = 23;
}

<h1>Home page of Attribute Route, @DateTime.Now</h1>
<p>@DateTime.Now.Year</p>

<h5>Name is @name and Age is @age </h5>

